<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.obeo.smartea.core.costs.design.Activator"
               id="fr.obeo.smartea.core.costs.design"
	       name="costs">
    </component>
  </extension>
</plugin>
